.connection-main-div {
  height: 100vh;
  padding: 7rem 1.4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: none;
  overflow: scroll;
}

.connection-main-div::-webkit-scrollbar {
  display: none;
}

/* for mobile */
@media (max-width: 767px) {
  .connection-main-div {
    display: block;
  }
}
