.profile-main-div {
  height: 100vh;
  /* min-height: 100vh; */
  padding-top: 5.7rem;
  display: flex;
  justify-content: center;
}

.profile-center-div {
  display: flex;
  width: 58rem;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
  padding: 2rem 1rem;
}

.profile-center-div::-webkit-scrollbar {
  display: none;
}

.profile-left-div,
.profile-right-div,
.profile-right-div-2 {
  padding: 2rem 1rem;
  width: 30rem;
}

.profile-right-div-2 {
  display: none;
}

/* Profile card css comes here */
.profile-card-main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1.2rem;
  background-color: white;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.014);
}

.profile-card-detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-card-fdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;
  flex: 1;
}

.profile-card-fdetail p {
  font-size: 2.6rem;
  font-weight: 700;
}

.profile-card-fdetail span {
  font-size: 1.6rem;
  color: rgb(155, 155, 155);
  font-weight: 500;
}

.profile-card-profile {
  height: 12rem;
  width: 12rem;
  min-width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 0.4rem solid #5e17eb; */
  border-radius: 6rem;
  padding: 0.2rem;
  position: relative;
}

.profile-card-profile img {
  /* width: 100%; */
  height: 12rem;
  width: 12rem;
  object-fit: cover;
  border-radius: 6rem;
  border: none;
}

.update-dp-div {
  position: absolute;
  top: 80%;
  right: 10%;
}

.select-dp-icon {
  font-size: 2.4rem;
  padding: 0.2rem;
  border-radius: 2rem;
  /* border: 0.1rem solid rgb(170, 170, 170); */
  color: #5e17eb;
  background-color: white;
  cursor: pointer;
}

#select-dp {
  display: none;
}

.profile-card-uname {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.profile-card-uname p,
.profile-card-uname span {
  font-size: 1.6rem;
  font-weight: 500;
}

.profile-card-uname span {
  color: rgb(100, 100, 100);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profile-left-div,
  .profile-right-div {
    display: none;
  }

  .profile-right-div-2 {
    display: block;
  }
}

/* for mobile */
@media screen and (max-width: 767px) {
  .profile-left-div,
  .profile-right-div,
  .profile-right-div-2 {
    display: none;
  }

  .profile-center-div {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 480px) {
  #p-card-detail-1 {
    order: 2;
  }
  #p-card-detail-2 {
    order: 1;
  }
  #p-card-detail-3 {
    order: 3;
  }

  .profile-card-uname {
    justify-content: flex-start;
  }
}
